*c++/conductances/custom/*.hpp
*doctrees/
*html/
*.html
*DS_Store
*.eps
*.mexmaci64
*.mexw64
*.mexa64
*.sublime-workspace
*a.out
*X_*.cpp
*.mat
*.lyx~
*.lyx#
*.mltbx
*.prj
demos.xml
last_build.kapalin
*pref.m
*.github_token.json
site/